<h1> BT4211 Project </h1>

Since hospitality operations are characterized by seasonality, it was decided to extract three full years of customer behavioral data: from 2015 to 2018. All time-based variables, such as when the customer was created in the database (DaysSinceCreation) or the number of days since the customer last stayed at the hotel (DaysSinceLastStay), are a construction based on the last day of extraction - <b> December 31, 2018.</b>

In [57]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [17]:
df = pd.read_csv('HotelCustomersDataset.csv')

In [18]:
df.head()

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.0,53.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df.isna().sum()

ID                         0
Nationality                0
Age                     3779
DaysSinceCreation          0
NameHash                   0
DocIDHash                  0
AverageLeadTime            0
LodgingRevenue             0
OtherRevenue               0
BookingsCanceled           0
BookingsNoShowed           0
BookingsCheckedIn          0
PersonsNights              0
RoomNights                 0
DaysSinceLastStay          0
DaysSinceFirstStay         0
DistributionChannel        0
MarketSegment              0
SRHighFloor                0
SRLowFloor                 0
SRAccessibleRoom           0
SRMediumFloor              0
SRBathtub                  0
SRShower                   0
SRCrib                     0
SRKingSizeBed              0
SRTwinBed                  0
SRNearElevator             0
SRAwayFromElevator         0
SRNoAlcoholInMiniBar       0
SRQuietRoom                0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83590 entries, 0 to 83589
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    83590 non-null  int64
 1   Nationality           83590 non-null  object
 2   Age                   79811 non-null  float64
 3   DaysSinceCreation     83590 non-null  int64
 4   NameHash              83590 non-null  object
 5   DocIDHash             83590 non-null  object
 6   AverageLeadTime       83590 non-null  int64
 7   LodgingRevenue        83590 non-null  float64
 8   OtherRevenue          83590 non-null  float64
 9   BookingsCanceled      83590 non-null  int64
 10  BookingsNoShowed      83590 non-null  int64
 11  BookingsCheckedIn     83590 non-null  int64
 12  PersonsNights         83590 non-null  int64
 13  RoomNights            83590 non-null  int64
 14  DaysSinceLastStay     83590 non-null  int64
 15  DaysSinceFirstStay    83590 non-null  int64
 16  DistributionChannel   83590 non-null  object
 17  MarketSegment         83590 non-null  object
 18  SRHighFloor           83590 non-null  int64
 19  SRLowFloor            83590 non-null  int64
 20  SRAccessibleRoom      83590 non-null  int64
 21  SRMediumFloor         83590 non-null  int64
 22  SRBathtub             83590 non-null  int64
 23  SRShower              83590 non-null  int64
 24  SRCrib                83590 non-null  int64
 25  SRKingSizeBed         83590 non-null  int64
 26  SRTwinBed             83590 non-null  int64
 27  SRNearElevator        83590 non-null  int64
 28  SRAwayFromElevator    83590 non-null  int64
 29  SRNoAlcoholInMiniBar  83590 non-null  int64
 30  SRQuietRoom           83590 non-null  int64
dtypes: float64(3), int64(23), object(5)
memory usage: 19.8+ MB

In [21]:
df.nunique().to_frame(name = 'No. of unique values')

                      No. of unique values
ID                                   83590
Nationality                            188
Age                                    105
DaysSinceCreation                     1095
NameHash                             80642
DocIDHash                            76993
AverageLeadTime                        418
LodgingRevenue                       10257
OtherRevenue                          4490
BookingsCanceled                         6
BookingsNoShowed                         4
BookingsCheckedIn                       29
PersonsNights                           56
RoomNights                              48
DaysSinceLastStay                     1105
DaysSinceFirstStay                    1108
DistributionChannel                      4
MarketSegment                            7
SRHighFloor                              2
SRLowFloor                               2
SRAccessibleRoom                         2
SRMediumFloor                            2
SRBathtub                                2
SRShower                                 2
SRCrib                                   2
SRKingSizeBed                            2
SRTwinBed                                2
SRNearElevator                           2
SRAwayFromElevator                       2
SRNoAlcoholInMiniBar                     2
SRQuietRoom                              2

In [27]:
df.describe()

,Age,DaysSinceCreation,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,BookingsNoShowed,BookingsCheckedIn,PersonsNights,RoomNights,...,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom,TotalRevenue
count,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,...,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000,79735.000000
mean,45.426149,446.606296,66.835091,302.355143,67.999133,0.001844,0.000577,0.793328,4.701536,2.377801,...,0.002922,0.001781,0.013068,0.357271,0.143525,0.000351,0.003574,0.000125,0.090939,370.354276
std,16.514700,310.568371,87.986856,368.108869,112.674013,0.065944,0.028326,0.690490,4.587845,2.197149,...,0.053978,0.042163,0.113568,0.479199,0.350610,0.018736,0.059679,0.011198,0.287524,439.106719
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.000000,174.000000,0.000000,64.790000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,76.000000
50%,46.000000,385.000000,30.000000,236.250000,40.000000,0.000000,0.000000,1.000000,4.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,292.170000
75%,57.000000,703.000000,104.000000,407.525000,88.500000,0.000000,0.000000,1.000000,8.000000,4.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,502.000000
max,96.000000,1095.000000,588.000000,9682.400000,7730.250000,9.000000,3.000000,66.000000,116.000000,116.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11930.660000

In [28]:
df.columns

Index(['Nationality', 'Age', 'DaysSinceCreation', 'NameHash', 'DocIDHash',
       'AverageLeadTime', 'LodgingRevenue', 'OtherRevenue', 'BookingsCanceled',
       'BookingsNoShowed', 'BookingsCheckedIn', 'PersonsNights', 'RoomNights',
       'DaysSinceLastStay', 'DaysSinceFirstStay', 'DistributionChannel',
       'MarketSegment', 'SRHighFloor', 'SRLowFloor', 'SRAccessibleRoom',
       'SRMediumFloor', 'SRBathtub', 'SRShower', 'SRCrib', 'SRKingSizeBed',
       'SRTwinBed', 'SRNearElevator', 'SRAwayFromElevator',
       'SRNoAlcoholInMiniBar', 'SRQuietRoom', 'TotalRevenue'],
      dtype='object')

<h2> Data Preprocessing </h2>

In [23]:
# Filter out negative/null ages and leadtimes as they're illogical in this context.
df = df[df['Age'] > 0] 
df = df[df['AverageLeadTime'] >= 0]

In [24]:
# Presumably, the normal humnan lifespan lasts till a 100 years old and hence, we'll remove entries with > 100 years of age.
df = df[df['Age'] < 100]

# We'll also remove ID column since it just tracks the index of each booking.
df.drop('ID', axis = 1, inplace = True)

In [26]:
df['TotalRevenue']  = df['LodgingRevenue'] + df['OtherRevenue']

In [39]:
df['DaysSinceCreation']

0         150
2        1095
3        1095
4        1095
5        1095
         ...
83585       0
83586       0
83587       0
83588       0
83589       0
Name: DaysSinceCreation, Length: 79735, dtype: int64

In [44]:
# Note: Last date of Extraction is on 31 december 2018
date_val = pd.to_datetime('December 31, 2018')
df['datetime'] = date_val

In [104]:
#Calculating the customer's first booking creation date
df['joined_date'] = pd.to_datetime(df['datetime']) - pd.to_timedelta(df['DaysSinceCreation'], unit = 'd')

#Calculating the customer's first stay
df['first_stay_date'] = pd.to_datetime(df['datetime']) - pd.to_timedelta(df['DaysSinceFirstStay'], unit = 'd')

#Calculating the customer's last stay
df['last_stay_date'] = pd.to_datetime(df['datetime']) - pd.to_timedelta(df['DaysSinceLastStay'], unit = 'd')

In [83]:
df['BookingsCheckedIn'].unique()

array([ 3,  0,  1,  9, 11,  2,  7,  8,  5,  6,  4, 66, 15, 29, 25, 10, 17,
       13, 26, 23, 12, 57, 40, 18, 14, 24, 20, 34], dtype=int64)

In [90]:
print(df['NameHash'][0])

0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375716EB065E29697CC071E

In [109]:
df[df['NameHash'] == '0xF0F3DBC14E608DB89EB4A499B8DB16A8256AE765AEDFF8BC366FC64A019D1CBD'][['DocIDHash','first_stay_date', 'last_stay_date','DaysSinceFirstStay','DaysSinceLastStay','BookingsCheckedIn', 'Age', 'RoomNights']]

,DocIDHash,first_stay_date,last_stay_date,DaysSinceFirstStay,DaysSinceLastStay,BookingsCheckedIn,Age,RoomNights
33687,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2017-07-31,2017-07-31,518,518,1,50.0,2
42632,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2017-12-20,2018-11-28,376,33,9,50.0,19
46843,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-02-18,2018-02-18,316,316,1,50.0,6
47516,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-02-25,2018-02-25,309,309,1,50.0,5
47800,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-03-03,2018-03-03,303,303,1,50.0,2
47996,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-03-05,2018-06-05,301,209,2,50.0,5
52045,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-04-11,2018-04-11,264,264,1,50.0,1
59501,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-06-10,2018-06-10,204,204,1,50.0,2
61548,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-06-25,2018-07-08,189,176,2,50.0,6
64347,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-07-17,2018-07-17,167,167,1,50.0,2
72095,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-09-12,2018-09-12,110,110,1,50.0,2
73915,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-09-25,2018-09-25,97,97,1,50.0,2
74556,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-09-30,2018-09-30,92,92,1,50.0,2
76003,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-10-09,2018-10-09,83,83,1,50.0,3
77271,0xFDBABC6688FD5F6B0E1CB119E1676C228066AC1545D0...,2018-10-19,2018-10-19,73,73,1,50.0,2

In [102]:
df['NameHash'].value_counts()

0xF0F3DBC14E608DB89EB4A499B8DB16A8256AE765AEDFF8BC366FC64A019D1CBD    15
0xC397E9F80FD9A9AB7365734240F585038E9EBCCE93D875C631D0B56A35C5A59D    12
0x2D2771E932895A19D4BE999D2BD051F9E2B2ED0EF6F78D43892FEBFC460CA0D4    10
0xB73465DE229AC416DDED0A4DDFADB1428922CDDFFC84FF206EA7868784E04DEA    10
0xFAA092BD2DEC4643F642489240C07CAE8311FA20C376B3D3D6B62BCA5DA7F9E1    10
                                                                      ..
0xECE15E787A5EDA7EA8429A8D7D343C98C8DE98E3319D0F890720316042D68A55     1
0x8AF35AB7B9B66A2AC258A5BCE581A283AAE2DE1CFE96BD523F286C29FAB524EB     1
0x9408E580ABCCE85DBD5FC79DE6E94AA4C9074651F1569D29ECAB147EDD91C994     1
0xBC2D598A3FB54E45F2BBA225C91C64B0CA547044E18E9AFC146E64145C77CAD4     1
0x1F2AA8A78ABFCBF190BFFB7BF2D5489EDFECD95CA51F39C892DE5A760CD97EA4     1
Name: NameHash, Length: 77301, dtype: int64

In [111]:
df_recency = df.groupby(by = 'NameHash', as_index = False)['last_stay_date'].max()

In [114]:
recent_date = df_recency['last_stay_date'].max()

In [118]:
df_recency['Recency'] = df_recency['last_stay_date'].apply(lambda x: (recent_date - x).days)

In [119]:
df_recency.head()

                                            NameHash last_stay_date  Recency
0  0x000074AF732797316B9EE5A8D5D4807D66B2D9DAC516...     2019-01-01        0
1  0x00026CC648E18A87DED820FCAC281CAEDCA13323AED5...     2018-08-09      145
2  0x0002D2141008D15DFCA1975942FDD64C86E4C90E9AED...     2018-06-22      193
3  0x0002E984CC980445D1094670A696966D36C11D016EEA...     2019-01-01        0
4  0x0003546D8EB3739F1E4AE3F114FBD78023317FBD262B...     2019-01-01        0